<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>PHP</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <section>
        <h1>Bons de commande</h1>

        <a href="{{ path('troiswa_commande_homepage') }}">Retourner à l'accueil</a>

        <!-- Etiquette avec fiche client -->
        <article class="order-form-customer">
   
        </article>
        <hr>

        <!-- Le bon de commande -->

    </section>
</body>
</html>